/* .App {
  text-align: center;
} */
body{
  background: #6d94ca; background: -moz-linear-gradient(45deg,  #6d94ca 0%,#a8c1ef 100%); background: -webkit-linear-gradient(45deg,  #6d94ca 0%,#a8c1ef 100%); background: linear-gradient(45deg,  #6d94ca 0%,#a8c1ef 100%); 
}
  .login-form {
  max-width: 300px;
  max-height: 40px
}
 /* .login-form-forgot {
  float: center;
} */
 .login-form-button {
  width: 100%;
}
.signup{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh
}
.postingform{
  width: 40%;
  position: relative;
  /* top: 50%; */
  left: 30%;
  /* transform: translate(-50%, -50%); */
  height: 50vh
}
.logo{
  width: 120px;
  height: 20px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 0px 4px 0px 0;
  float: left;
}
.ant-back-top {
  bottom: 100px;
}
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}